</br>
<div class="row">
    <div class="col-sm-1  text-dark"></div>
    <div class="col-sm-10  text-dark">
        <div class="container-fluid custom mt-3">
            <div class="row">
                <div class="col-sm-1 text-dark"></div>
                <div class="col-sm-10 text-dark">
                    </br>
                    </br>
                    <h1>Politique de confidentialité</h1>
                    </br>
                    </br>
                    <p>Ce document (« Politique de confidentialité ») explique les règles de confidentialité applicables
                        aux données à caractère personnel et autres informations collectées ou soumises lorsque vous
                        accédez, installez ou utilisez les Services, quel que soit l'appareil (ordinateur, téléphone
                        mobile, tablette, etc.) que vous utilisez.</p>
                    </br>
                    </br>
                    <h3>1 - Nature des données collectées</h3>
                    <hr>
                    <p>Dans le cadre de l'utilisation des Sites, l'Éditeur est susceptible de collecter les catégories
                        de données suivantes concernant ses Utilisateurs :</p>
                    <ul>
                        <li>Données relatives à la vie professionnelle (CV, scolarité, formation professionnelle,
                            distinctions...)</li>
                        <li>Informations d'ordre économique et financier (revenus, situation financière, situation
                            fiscale...)</li>
                    </ul>
                    </br>
                    </br>


                    <h3>2 - Nature des données collectées</h3>
                    <hr>
                    <p>Dans le cadre de l'utilisation des Sites, l'Éditeur est susceptible de collecter les catégories
                        de données suivantes concernant ses Utilisateurs :</p>
                    <ul>
                        <li>Données relatives à la vie professionnelle (CV, scolarité, formation professionnelle,
                            distinctions...)</li>
                        <li>Informations d'ordre économique et financier (revenus, situation financière, situation
                            fiscale...)</li>
                    </ul>
                    </br>

                    <h3>3 - Partage de vos données à caractère personnel</h3>
                    <hr>
                    </br>

                    <p>Nous ne partageons pas vos données à caractère personnel avec des tiers, sauf dans les conditions
                        décrites dans la présente Politique de confidentialité.</p>


                    <p><strong>Prestataires de services : </strong>Nous faisons appel à des prestataires de services
                        tiers pour nous aider dans diverses opérations, telles que le traitement des paiements,
                        l’automatisation des e-mails, le diagnostic des sites Web et des applications, l’analyse et
                        autres. Par conséquent, certains de ces fournisseurs de services peuvent traiter des données à
                        caractère personnel.</p>
                    </br>

                    <h3>4 - Choix liés à vos données à caractère personnel</h3>
                    <hr>
                    <p>Il existe différentes lois sur la protection des données qui vous confèrent des droits en matière
                        de confidentialité en tant que personne concernée. Sous réserve des lois applicables en matière
                        de protection des données, vous pouvez avoir les droits suivants :</p>
                    <ul>
                        <li>Suppression : demander l'effacement de vos données à caractère personnel ;</li>
                        <li>Accès : connaître et accéder aux données à caractère personnel que nous avons collectées à
                            votre sujet ;</li>
                        <li>Correction : rectifier, corriger, mettre à jour ou compléter les données à caractère
                            personnel inexactes ou incomplètes dont nous disposons à votre sujet ;</li>
                        <li>S'opposer : vous opposer au traitement de vos données à caractère personnel qui se fait sur
                            la base de nos intérêts légitimes (par exemple, à des fins de marketing) ;</li>
                        <li>Portabilité : demander une copie de vos données à caractère personnel sous un format
                            structuré, couramment utilisé et lisible par machine ou demander la transmission de vos
                            données à caractère personnel à un autre responsable du traitement (uniquement lorsque le
                            traitement repose sur votre consentement et est effectué par des moyens automatisés) ;</li>
                        <li>Restreindre : limiter le traitement de vos données à caractère personnel (lorsqu'il existe
                            un motif légal pour cela) ;</li>
                        <li>Retirer le consentement : retirer votre consentement lorsque le traitement est basé sur un
                            consentement que vous avez fourni précédemment ;</li>
                        <li>Déposer une plainte : exercer vos droits en nous contactant directement ou, si cela ne
                            suffit pas, en déposant une plainte auprès d'une autorité de contrôle.</li>
                    </ul>


                    <p><strong>Rectification :</strong> Si vous souhaitez modifier les informations de votre profil (par
                        exemple, changer votre adresse e-mail, ajouter un nom d'utilisateur supplémentaire), veuillez
                        contacter notre équipe d'assistance à support@privateVPNaccount.com.</p>


                    <p><strong>Accès/Suppression : </strong>Si vous souhaitez supprimer votre compte ou vos données à
                        caractère personnel que nous traitons, ou demander que nous vous fournissions une copie de vos
                        données à caractère personnel, veuillez nous contacter à l'adresse suivante
                        privacy@privateVPNaccount.com.</p>


                    <p><strong>Obligations de PrivateVPN en cas de résiliation</strong> : Après l'expiration ou la
                        résiliation de votre compte et/ou de votre abonnement, PrivateVPN cessera immédiatement de
                        traiter les informations qui vous sont associées. Cependant, PrivateVPN peut conserver certaines
                        de ces informations dans les cas suivants :</p>
                    <ol>
                        <li>Les bases de données de tous les produits PrivateVPN sont connectées, ce qui signifie que
                            les informations de base telles que votre adresse e-mail resteront visibles dans notre
                            système si vous avez un autre compte associé à un produit PrivateVPN différent. Pour
                            supprimer toutes vos données, veuillez contacter notre équipe d'assistance pour supprimer
                            tous vos comptes associés à différents produits PrivateVPN.</li>
                        <li>PrivateVPN peut également conserver les informations qui vous sont associées, telles que les
                            données relatives aux paiements, afin de remplir ses obligations légales telles que requises
                            par les lois, règlements, décisions de justice, assignations à comparaître ou autres
                            processus juridiques applicables à des fins d'archivage.</li>
                    </ol>

                    <p><strong>Désabonnement</strong> : Si vous ne souhaitez plus recevoir de communications de
                        PrivateVPN, vous pouvez vous désinscrire à tout moment en cliquant sur le lien « se désabonner »
                        au bas de chaque e-mail ou en nous contactant à l'adresse privacy@PrivateVPNaccount.com.</p>
                    </br>
                    <h3>5 - Sécurité des données</h3>
                    <hr>
                    <p>Nous avons mis en place des mesures physiques, techniques et organisationnelles pour protéger les
                        données personnelles contre toute forme de traitement illégal ou d'accès non autorisé.</p>
                    <p><strong>Mesures physiques :</strong> Accès contrôlé aux installations, stockage des appareils
                        dans des endroits fermés à clé, et politiques de bureau bien rangé.</p>
                    <p><strong>Mesures techniques :</strong> Système de défense en couches avec pare-feu, protection
                        contre les logiciels malveillants, détection et prévention des intrusions, régulièrement mis à
                        jour avec des scans de vulnérabilité. Les serveurs sont renforcés et tous les postes de travail
                        sont gérés depuis un outil de gestion centralisé. Les données sont chiffrées et les protocoles
                        de chiffrement sont conformes aux pratiques de sécurité les plus récentes.</p>
                    <p><strong>Mesures organisationnelles :</strong> Politiques de sécurité de l'information et de
                        traitement des données conformes aux meilleures pratiques. Audits externes pour prouver la
                        conformité aux normes. Culture de développement constant de la sécurité et de la sensibilisation
                        à la protection des données parmi les employés, avec des formations régulières et continues.
                        Nous analysons les menaces et la surface d'attaque et mettons constamment à jour nos mesures de
                        sécurité. L'accès aux bases de données contenant des données à caractère personnel est accordé
                        sur la base du besoin de savoir.</p>
                    <p>Si nous détectons quelque chose de suspect, nous vous informerons immédiatement et vous guider
                    </p>
                    </br>
                    <h3>6 - Conservation et suppression des données</h3>
                    <hr>
                    <p>privateVPN conservera vos données à caractère personnel aussi longtemps que nécessaire pour vous
                        fournir les Services, ou aussi longtemps que nous avons un autre motif légitime de le faire,
                        mais pas plus longtemps que ce qui est permis ou exigé par la loi. Certains des termes de
                        conservation des données plus spécifiques sont fournis ci-dessous :</p>
                    <ul>
                        <li>Les informations de facturation du client et les détails du paiement sont conservés par
                            privateVPN pendant 10 ans à compter de la dernière transaction de paiement.</li>
                        <li>privateVPN utilisera votre e-mail pour la communication marketing pendant 1 an après la fin
                            de votre Abonnement.</li>
                    </ul>
                    <p>Lorsque nous n'avons plus de motif légal pour conserver vos données à caractère personnel, elles
                        seront soit éliminées de manière sécurisée, soit dépersonnalisées par des moyens d'anonymisation
                        appropriés.</p>
                    </br>
                    <h3>7 - Géolocalisation</h3>
                    <hr>

                    <p><strong>Géolocalisation à des fins de fourniture du service</strong>Nous collectons et traitons
                        vos données de géolocalisation afin de vous fournir nos services. Nous pouvons être amenés à
                        faire usage des données personnelles dans le but de déterminer votre position géographique en
                        temps réel. Conformément à votre droit d'opposition prévu par la loi n°78-17 du 6 janvier 1978
                        relative à l'informatique, aux fichiers et aux libertés, vous avez la possibilité, à tout
                        moment, de désactiver les fonctions relatives à la géolocalisation.</p>

                    <p><strong>Géolocalisation à des fins de croisement</strong>Nous collectons et traitons vos données
                        de géolocalisation afin de permettre à nos services d'identifier les points de croisement dans
                        le temps et dans l'espace avec d'autres Utilisateurs du service afin de vous présenter le profil
                        des Utilisateurs croisés. Conformément à votre droit d'opposition prévu par la loi n°78-17 du 6
                        janvier 1978 relative à l'informatique, aux fichiers et aux libertés, vous avez la possibilité,
                        à tout moment, de désactiver les fonctions relatives à la géolocalisation. Vous reconnaissez
                        alors que le service ne sera plus en mesure de vous présenter de profil des autres Utilisateurs.
                    </p>
                    <p><strong>Géolocalisation avec mise à disposition des partenaires pour référencement et
                            agrégation</strong>Nous pouvons collecter et traiter vos données de géolocalisation avec nos
                        partenaires. Nous nous engageons à anonymiser les données utilisées. Conformément à votre droit
                        d'opposition prévu par la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers
                        et aux libertés, vous avez la possibilité, à tout moment, de désactiver les fonctions relatives
                        à la géolocalisation.</p>
                    </br>
                    <h3>8 - Cookies</h3>
                    <hr>

                    <p><strong>Durée de conservation des cookies</strong>Conformément aux recommandations de la CNIL, la
                        durée maximale de conservation des cookies est de 13 mois au maximum après leur premier dépôt
                        dans le terminal de l'Utilisateur, tout comme la durée de la validité du consentement de
                        l’Utilisateur à l’utilisation de ces cookies. La durée de vie des cookies n’est pas prolongée à
                        chaque visite. Le consentement de l’Utilisateur devra donc être renouvelé à l'issue de ce délai.
                    </p>

                    <p><strong>Finalité cookies</strong>Les cookies peuvent être utilisés pour des fins statistiques
                        notamment pour optimiser les services rendus à l'Utilisateur, à partir du traitement des
                        informations concernant la fréquence d'accès, la personnalisation des pages ainsi que les
                        opérations réalisées et les informations consultées.</p>
                    <p>Vous êtes informé que l'Éditeur est susceptible de déposer des cookies sur votre terminal. Le
                        cookie enregistre des informations relatives à la navigation sur le service (les pages que vous
                        avez consultées, la date et l'heure de la consultation...) que nous pourrons lire lors de vos
                        visites ultérieures.</p>

                    <p><strong>Droit de l'Utilisateur de refuser les cookies</strong>Vous reconnaissez avoir été informé
                        que l'Éditeur peut avoir recours à des cookies. Si vous ne souhaitez pas que des cookies soient
                        utilisés sur votre terminal, la plupart des navigateurs vous permettent de désactiver les
                        cookies en passant par les options de réglage.</p>

                    </br>


                    <button type="button" class="btn btn-outline-dark text-black custom-btn"
                        onclick="history.back()">Retour</button>

                    </br>
                    </br>
                </div>

                <div class="col-sm-1 text-dark"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-1  text-dark"></div>




</div>
</br>
</br>


</html>