 .container-fluid.custom {
     background-color: #DCF3FF;
     border-radius: 20px;
 }



 .container-fluid.custom_environnement {
     background-color: #7BD699;
     border-radius: 20px;

 }


 .container-fluid.custom_tarifs {
     background-color: #DCF3FF;
     border-radius: 20px;
 }


 .title {

     background-color: #6191C8;
     border-radius: 20px;
 }

 img {
     outline: none;
 }

 .center-img {
     display: block;
     margin: auto;
 }